tqdm==4.50.2
pytorch_metric_learning==0.9.98.dev1
networkx==2.5
transformers==4.4.2
pandas==1.1.3
scikit_learn==0.24.1
torch==1.13.1
packaging==20.4

# My additions
accelerate
aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
bioc
boto3
botocore
bpemb
certifi
charset-normalizer
click
cloudpickle
conllu
contourpy
cycler
datasets
decorator
Deprecated
dill
docopt
filelock
flair
fonttools
frozenlist
fsspec
ftfy
future
gdown
gensim
hyperopt
idna
importlib-metadata
importlib_resources
intervaltree
Janome
Jinja2
jmespath
joblib
jsonlines
kiwisolver
konoha
langdetect
lxml
MarkupSafe
matplotlib
more-itertools
mpld3
mpmath
multidict
multiprocess
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
overrides
pillow
pptree
propcache
protobuf
psutil
py4j
pyarrow
pyparsing
PySocks
python-dateutil
pytorch_revgrad
pytz
PyYAML
regex
requests
s3transfer
sacremoses
safetensors
scipy
segtok
sentence-transformers
sentencepiece
six
smart-open
sortedcontainers
soupsieve
sqlitedict
sympy
tabulate
termcolor
threadpoolctl
tokenizers
triton
typing_extensions
tzdata
urllib3
wcwidth
Wikipedia-API
wrapt
xxhash
yarl
zipp